.traffic-light {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
}

.light {
    width: 80px;
    height: 80px;
    margin: 5px auto;
    border-radius: 50%;
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.active {
    opacity: 1;
}

.light.purple {
    background-color: purple;
}

.hidden {
    display: none;
}